<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hqtrung.hqt.doan3real">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ThayDoiMatKhauActivity"></activity>
        <activity android:name=".Activity.SuaThongTinCaNhan_Activity" />
        <activity android:name=".Activity.DiaChi_Activity" />
        <activity android:name=".Activity.ChiTietBaiDoXeActivity" />
        <activity android:name=".Activity.SignUp_Activity" />
        <activity android:name=".Activity.SigIn_Activity" />
        <activity android:name=".Activity.Start_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/Map_Key" />

        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>